<a href="#!">Go back</a>
<h2>Rent a taxi</h2>

<form ng-submit="addRent()">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" ng-model="rent.name" placeholder="Title">
    </div>
    <div class="form-group">
        <label>Surname</label>
        <input type="text" class="form-control" ng-model="rent.surname" placeholder="Author">
    </div>
    <div class="form-group">
        <label>Company</label>
        <input type="text" class="form-control" ng-model="rent.company" placeholder="Description">
    </div>
    <div class="form-group">
        <label>Length</label>
        <input type="number" class="form-control" ng-model="rent.pages" placeholder="Pages">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
