<div ng-controller="HeaderController">
    <div ng-init="getTaxies();">
        <div class="panel">
            <div class="left">
                <md-button class="md-fab mybtnstyle" ng-disabled="0>=gains" ng-click="buyTaxi()">
                    <md-tooltip md-direction="bottom">Nakup taksija</md-tooltip>
                    <md-icon md-svg-src="img/icons/ic_add_shopping_cart_white_36px.svg"></md-icon>
                </md-button>
                <md-button class="md-fab mybtnstyle" ng-click="addTaxi()">
                    <md-tooltip md-direction="bottom">Dodaj taksi</md-tooltip>
                    <md-icon md-svg-src="img/icons/ic_add_white_36px.svg"></md-icon>
                </md-button>
            </div>
            <div class="logo center">
                <a href="#!">
                    <img src="/img/logo/taksibrezluck.png" id="logo">
                </a>
            </div>
            <md-whiteframe class="md-whiteframe-1dp right gains" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                <span><md-icon md-svg-src="img/icons/ic_trending_up_white_36px.svg"></md-icon> {{gains}} €</span>
            </md-whiteframe>
        </div>
    </div>
</div>