<form ng-init="getTaxi()" ng-submit="rentCtrl.rentTaxi(taxi)">
        {{taxi}}
    <h2>{{taxi.name}}</h2>
    <div ng-show="rentCtrl.rent.length">
        Informativni izracun cene: {{rentCtrl.infoPrice(rentCtrl.rent.length)}}
    </div>

    <div ng-controller="SelectedTextController" class="md-padding " ng-cloak="">
        <div>
            <div layout="row">
                <md-input-container>
                    <label>Items</label>
                    <md-select ng-model="selectedItem" md-selected-text="getSelectedText()" ng-required="true">
                        <md-optgroup label="items">
                            <md-option ng-value="item" ng-repeat="item in items">{{item}}</md-option>
                        </md-optgroup>

                    </md-select>
                </md-input-container>
            </div>
        </div>
        <div ng-show="selectedItem==='Oseba'">
            <md-input-container class="md-icon-float md-block form-group" md-no-float="">
                <label>Ime</label>
                <input ng-model="rentCtrl.rent.name" type="text" ng-required="{{selectedItem=='Oseba' ? true : false}}">
            </md-input-container>
            <md-input-container class="md-icon-float md-block form-group" md-no-float="">
                <label>Priimek</label>
                <input ng-model="rentCtrl.rent.surname" type="text" ng-required="{{selectedItem=='Oseba' ? true : false}}">
            </md-input-container>
        </div>
        <div ng-show="selectedItem==='Podjetje'">
            <md-input-container class="md-icon-float md-block form-group" md-no-float="">
                <label>Podjetje</label>
                <input ng-model="rentCtrl.rent.company" type="text" ng-required="{{selectedItem=='Podjetje' ? true : null}}">
            </md-input-container>
        </div>
        <md-input-container class="md-icon-float md-block form-group" md-no-float="">
            <label>Dolzina (v sekundah)</label>
            <input required="true" ng-model="rentCtrl.rent.length" type="number">
        </md-input-container>
        <md-button type="submit" class="btn btn-primary">Submit</md-button>
    </div>
</form>