<a href="#!">Go back</a>
<h2>Rent a taxi</h2>

<form ng-controller="RentController as rentCtrl" ng-init="getTaxi()" ng-submit="rentCtrl.rentTaxi(taxi)">
    <div ng-show="rentCtrl.rent.length">
        Informativni izracun cene: {{rentCtrl.infoPrice(rentCtrl.rent.length)}}
    </div>
    <div class="form-group">
        <input type="text" class="form-control" ng-model="rentCtrl.rent.name" placeholder="Ime">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" ng-model="rentCtrl.rent.surname" placeholder="Priimek">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" ng-model="rentCtrl.rent.company" placeholder="Podjetje">
    </div>
    <!--<div class="form-group">
            <label>Price</label>
            <input type="number" class="form-control" ng-model="rentCtrl.rent.price" placeholder="Price">
        </div>-->
    <div class="form-group">
        <input type="number" class="form-control" ng-model="rentCtrl.rent.length" placeholder="Dolzina (v sekundah)" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<!--ToDo: 
- Name & Surname or Company
- Informativni izracun
-->