<a href="#!">Go back</a>
<div ng-init="getTaxi()">
    <div>
        <img ng-src="{{taxi.photo_url}}">
        <h3>
        Naziv: {{taxi.name}}
        </h3>
        <div ng-controller="RentController as rentCtrl">
        Skupna vsota dobickov: {{rentCtrl.getTotal(taxi)}} <br>
        </div>
        Zgodovina najemov:  <br>
        <div ng-repeat="rent in taxi.history">
                {{rent.date | date:'MM/dd/yyyy'}} <br>
                {{rent.name}} <br>
                {{rent.surname}} <br>
                {{rent.company}} <br>
                {{rent.length}} <br>
                {{rent.price | currency : "€"}} <br><br>
        </div>
        <!-- {{taxi.sum}} 
        {{taxi.history[0].date}}
        <br> -->
        <br><br>
    </div>
</div>

<!--ToDo:
    - date
-->